.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

.chatHeader__hash {
    color: white;
    font-size: 30px;
    padding: 10px;
}

.chatHeader__left > h3 {
    display: flex;
    align-items: center;
    color: white;
}

.chatHeader__right {
    display: flex;
    align-items: center;
    flex: 0.5;
    justify-content: space;
}

.chatHeader__right > .MuiSvgIcon-root {
    padding: 5px;
    cursor: pointer;
}

.chatHeader__right > .MuiSvgIcon-root:hover {
    color: white;
}

.chatHeader__search {
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border: 2px solid rgba(255, 255, 255, 0.616);
    border-radius: 10px;
    padding: 3px;
}

.chatHeader__search > input {
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
}

