.login {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('https://i.imgur.com/Z5AzP0X.png');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: auto;
}

.login > button {
    width: 300px;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #eff2f5;
    font-weight: 800;
    font-size: 22px;
}

.login > button:hover {
    background-color: black;
    color: white;
}

.login > div > img {
    object-fit: contain;
    height: 150px;
}