.message {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px;
    color: white;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.message__info {
    margin-left: 20px;
}

.message__timestamp {
    color: white;
    margin-left: 20px;
    font-size: x-small;
}