.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #2f3135;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );

    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
}

.sidebar__channels {
    flex: 1;
}


.sidebar__addChannel {
    cursor: pointer;
}

.sidebar__addChannel:hover {
    color: white;
}

.sidebar__channelsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    color: white;
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.sidebar__voice, .sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    border-top: 1px solid white;
}

.sidebar__voiceInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__voiceIcon {
    color: #32da8e;
}

.sidebar__voiceInfo > h3 {
    color: #32da8e;
}

.sidebar__voiceInfo > p {
    font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root {
    padding: 10px;
}

.sidebar__profileInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__profile {
    cursor: pointer;
}

.sidebar__profileInfo > h3 {
    color: white;
}

.sidebar__profileIcons > .MuiSvgIcon-root {
    padding: 10px;
}