.sidebarChannel:hover > h4 {
    color: white;
    background-color: rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(0, 0, 0, 0.37);
}   

.sidebarChannel > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    margin: 10px 5px;
    color: white;
    cursor: pointer;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.sidebarChannel__hash {
    font-size: 30px;
    padding: 8px;
}